{# <footer>
				<hr>
				<footer class="container py-5">
					<div class="row">
						<div class="col-12 col-md">
							<h5>HK's Blog</h5>
							<small class="d-block mb-3 text-muted">&copy;  {{ 'now'|date('Y') }}</small>
						</div>
						<div class="col-6 col-md">
							<h5>Catégories</h5>
							<ul class="list-unstyled text-small">
								<li>
									<a class="link-secondary" href="#">Technologie</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Voyages</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Gastronomie</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Style de vie</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Mode</a>
								</li>
							</ul>
						</div>
						<div class="col-6 col-md">
							<h5>Liens Utiles</h5>
							<ul class="list-unstyled text-small">
								<li>
									<a class="link-secondary" href="#">À Propos de Nous</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Contact</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Politique de Confidentialité</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Conditions d'Utilisation</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-md">
							<h5>Suivez-nous</h5>
							<ul class="list-unstyled text-small">
								<li>
									<a class="link-secondary" href="#">Facebook</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Twitter</a>
								</li>
								<li>
									<a class="link-secondary" href="#">Instagram</a>
								</li>
								<li>
									<a class="link-secondary" href="#">LinkedIn</a>
								</li>
							</ul>
						</div>
					</div>
</footer> #}


<footer>
	<div class="container-fluid mt-2">
		<div class="row bg-light p-3 ">
			<div class="col-6 col-md">
				<h3 class="footer-heading">À propos de Mon Blog</h3>
				<p>
					Bienvenue sur Mon Blog, la plateforme où vous pouvez explorer une variété d'articles intéressants sur différents sujets. Notre objectif est de partager des informations passionnantes avec nos lecteurs.
				</p>
				<p>
					<a href="{{path('app_about')}}" class="footer-link-more">En savoir plus</a>
				</p>


			</div>
			<div class="col-6 col-md">
				<h5>Catégories</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a class="link-secondary" href="#">Technologie</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Voyages</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Gastronomie</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Style de vie</a>
					</li>
					<li>
						<a href="{{path('app_chart')}}">Test-Chart</a>
					</li>
				</ul>
			</div>

			<div class="col-6 col-md">
				<div class="counter-container">
					<i class="fa fa-twitter fa-3x"></i>
					<div class="counter" data-target="12000"></div>
					<span>Twitter Followers</span>
				</div>

				<div class="counter-container">
					<i class="fa fa-youtube fa-3x"></i>
					<div class="counter" data-target="5000"></div>
					<span>YouTube Subscribers</span>
				</div>

				<div class="counter-container">
					<i class="fa fa-facebook fa-3x"></i>
					<div class="counter" data-target="7500"></div>
					<span>Facebook Fans</span>
				</div>
			</div>
			<div class="col-6 col-md">
				<h5>Liens Utiles</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a class="link-secondary" href="#">À Propos de Nous</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Contact</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Politique de Confidentialité</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Conditions d'Utilisation</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md">
				<h5>Suivez-nous</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a class="link-secondary" href="#">Facebook</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Twitter</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Instagram</a>
					</li>
					<li>
						<a class="link-secondary" href="#">LinkedIn</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row" data-oas="fade-up">
			<div class="col text-center bg-dark text-light py-3">
				<div class="copyright-box">
					<h5 class="test">HK'S BLOG</h5>
					<small class="d-block ">&copy;
						{{ 'now'|date('Y') }}</small>

				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End  Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
	<i class="fa fa-arrow-up-short"></i>
</a>
